{% extends 'site/partials/base.html.twig' %}

{% block title %}Carrières - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/careers.css') }}">
{% endblock %}

{% block body %}
    <section class="mb-5 intro">
        <div class="container pt-5 pb-5">
            <h1>Help us for a better world</h1>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet aspernatur
                                consequuntur natus necessitatibus neque quisquam quod sed ullam. Architecto debitis et eum
                                illum praesentium sit vel, veritatis voluptas.
                            </span>
                            <span>Accusantium aliquid animi aperiam
                                asperiores aut consequatur culpa cum cupiditate dolor ducimus ea excepturi labore maxime
                                necessitatibus nesciunt, nulla numquam obcaecati praesentium, quam ratione recusandae
                                reiciendis repellat sit soluta velit.
                            </span>
                            </p>
                            <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet aspernatur
                                consequuntur natus necessitatibus neque quisquam quod sed ullam. Architecto debitis et eum
                                illum praesentium sit vel, veritatis voluptas.
                            </span>
                            </p>
                        </div>
                        <div class="col-6">
                            <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet aspernatur
                                consequuntur natus necessitatibus neque quisquam quod sed ullam. Architecto debitis et eum
                                illum praesentium sit vel, veritatis voluptas.
                            </span>
                                <span>Accusantium aliquid animi aperiam
                                asperiores aut consequatur culpa cum cupiditate dolor ducimus ea excepturi labore maxime
                                necessitatibus nesciunt, nulla numquam obcaecati praesentium, quam ratione recusandae
                                reiciendis repellat sit soluta velit.
                            </span>
                            </p>
                            <a href="#jobs" class="btn btn-blue">Découvrir nos offres</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 images">
                    <img src="{{ asset('assets/images/careers/smile-1.jpg') }}" class="img-fluid" alt="">
                    <img src="{{ asset('assets/images/careers/smile-2.jpg') }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="discover-teams container">
        <div class="txt">
            <h1>Discover ours teams</h1>
            <p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum deserunt eius et eum
                facere inventore laboriosam natus non officiis omnis optio, ratione ullam vel veritatis vitae
                voluptate voluptates.
            </span>
                <span>
                Alias cum error esse facilis, id inventore molestias non provident quia soluta. Accusantium labore nulla omnis!
                Alias aut distinctio dolorum ex exercitationem, iure laudantium libero, minima officia quod suscipit voluptate.
            </span>
            </p>
        </div>
    </section>

    <section class="work-with-us">

    </section>
    <section id="jobs" class="jobs">

    </section>
{% endblock %}
