<footer>
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="bg-list-grey py-3">
                    <h5>Découvrir Deliveroo</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">À propos</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Espace presse</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Blog Foodscene</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Blog Tech</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Blog Design</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Nous rejoindre</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Inscription restaurant</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="bg-list-grey py-3">
                    <h5>Mentions légales</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Mentions légales</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">confidentialité</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Cookies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="bg-list-grey py-3">
                    <h5>Aider</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Nous contacter</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Types de cuisine</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Plan du site</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="bg-list-grey py-3">
                    <h5>Gardez Deliveroo dans votre poche</h5>
                    <a href="#">
                        <span>Télécharger Deliveroo dans l'App Store</span>
                    </a>
                    <a href="#">
                        <span>Télécharger Deliveroo sur Google Play</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
