/* punchline */
.txt-punchline{
  background-color: #00ccbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 4% 2%;
}
.txt-position{
  width: 50%;
}
.txt-punchline h2{
  color: #ffffff;
  /*width: 25%;*/
  text-align: left;
  font-weight: 700;
}
.img-punchline:before{
  content: '';
  width: 100%;
  height: 400px;
  clip-path: polygon(0 0, 8% 0, 16% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00ccbc;
}
.img-punchline{
  position: relative;
  background: url("../../../public/assets/images/bikers/the-ride-academy.jpg") center center / cover no-repeat;
  height: 400px;
}

/* choice*/
.choice{
  padding: 5% 0;
  background-image: url("../../../public/assets/icones/donut.svg"),url('../../../public/assets/icones/ramen.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.choice img{
  width: 50%;
  height: auto;
}
.choice .txt{
  display: flex;
  align-items: flex-end;
}
.text-align{
  text-align: right;
}

/* earnings */
.earnings{
  background-color: #f2f1f1;
}
.earnings h2{
  color: #2e3333;
  font-weight: 700;
  font-size: 2.5rem;
}
.earnings img{
  max-height: 600px;
}
.block-cycle, .block-money, .block-help{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2%;
}
.block-cycle .fas, .block-money .fas, .block-help .fas{
  margin-left: 2%;
}
.block-help .txt, .block-money .txt, .block-cycle .txt{
  padding: 5%;
}
.block-cycle .fas{
  color: #00ccbc;
}
.block-money .fas{
  color: #ff7700;
}
.block-help .fas{
  color: #01433e;
}

/* help */
.help img{
  max-height: 400px;
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.5);
}
.help a{
  color: #00ccbc;
}
.help a:hover{
  color: #01433e;
}
.help .txt .txt-position{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: stretch;*/
  min-height: 400px;
}

/* access */
.access{
  background-color: #fcfcfc;
}
.block-equipments, .block-star, .block-offers{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2%;
}
.block-equipments .fas, .block-star .fas, .block-offers .fas{
  margin-left: 2%;
}
.block-offers p, .block-star p, .block-equipments p{
  padding: 2% 5%;
}
.block-equipments .fas{
  color: #00ccbc;
}
.block-star .far{
  color: #ff7700;
}
.block-offers .fas{
  color: #01433e;
}
.access .txt{
  background-color: #ffffff;
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.5);
  padding: 5%;
}
.access ul{
  list-style: none;
}
.access li{
  margin-bottom: 10px;
  background: url("../../../public/assets/icones/tick_check.svg") no-repeat;
  padding-left: 40px;
}

/* citation */
.citation-txt{
  background-color: #00ccbc;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
}
.citation-img{
  position: relative;
  background: url("../../../public/assets/images/bikers/the-ride-academy.jpg") center center / cover no-repeat;
  height: 400px;
}
.citation-img:after{
  content: '';
  width: 100%;
  height: 400px;
  /*clip-path: polygon(0 0, 8% 0, 16% 100%, 0% 100%);*/
  clip-path: polygon(73% 0, 100% 0, 100% 100%, 91% 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00ccbc;
}

/* begin section */
.begin{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.begin a{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* responsive */
@media screen and (max-width: 991px){
  /* punchline */
  .txt-position{
    width: 100%;
  }
  /* earnings */
  .earnings img{
    max-height: 400px;
  }
}
@media screen and (max-width: 768px){
  /* punchline */
  .txt-punchline{
    align-items: center;
  }
  .txt-punchline h2{
    text-align: center;
  }
  .txt-position{
    width: 80%;
    text-align: center;
  }
  .img-punchline:before{
    display: none;
  }
  .img-punchline{
    height: 250px;
  }
  /* section choice */
  .choice .txt{
    justify-content: center;
  }
  .text-align{
    text-align: center;
  }
  /* section help */
  .help .txt{
    display: flex;
    justify-content: center;
  }
  /* section citation */
  .citation-img:after{
    display: none;
  }
}
