.hero-one, .hero-two{
  height: 306px;
  padding: 16px;
}
.hero-one{
  background: url("../../../public/assets/images/bikers/registration/j-williams.jpg") center center / cover no-repeat;
}
.hero-two{
  background: url("../../../public/assets/images/bikers/registration/zbysiu.jpg") center center / cover no-repeat;
}
.bg-grey{
  background-color: #dfe2e2;
  padding: 5%;
}
.container-form{
  background-color: #ffffff;
  border-radius: 10px;
}
.progress, .progress-bar{
  height: 4px;
}
.register-form{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.display-btn-submit{
  display: flex;
  justify-content: center;
}
