/* footer */
footer{
  background-color: #2e3333;
  color: #ffffff;
}
footer .list-group, footer .list-group-item{
  border: none !important;
  background-color: #434848;
}
footer .list-group-item{
  padding: .10rem 1.25rem !important;
}
.bg-list-grey{
  width: 100%;
  background-color: #434848;
  border: 1px solid #434848;
  border-radius: 5px;
}
footer h5{
  padding: 0 1.25rem;
  font-family: 'IBM Plex Sans Bold', sans-serif;
}
.footer-column{
  display: flex;
  align-items: stretch;
  margin-bottom: 2%;
}
.logos-stores{
  padding: 0 1.25rem;
}
.logo-app-store, .logo-google-play{
  width: 135px;
  height: 40px;
  display: inline-block;
  text-indent: -9999px;
  background: url("./../../content/icones/app-store-badges-fr.svg") no-repeat;
  background-size: 270px 40px;
}
.logo-app-store{
  background-position: 0 0;
}
.logo-google-play{
  background-position: -135px 0;
}
.socials-links, .copyright{
  width: 50%;
}
footer path{
  fill: currentColor;
}
.bottom-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
