/* general */
body{
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
}
h1{
  font-weight: 700;
  letter-spacing: 0.05em;
}
a{
  color: #ffffff;
  p {
    color: #000000;
  }
  .link{
    color: #00ccbc;
  }
  &:hover{
    color: #00ccbc;
    text-decoration: none;
  }
}
//a p{
//  color: #000000;
//}
//a .link{
//  color: #00ccbc;
//}
//a:hover{
//  color: #00ccbc;
//  text-decoration: none;
//}
/*::-moz-selection {*/
/*    background: #00ccbc;*/
/*}*/
/*::selection {*/
/*    background: #00ccbc;*/
/*}*/
.bold-span{
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2rem;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
