/* navbar */
.navbar{
  z-index: 3;
  background-color: #585a5a;
}
.navbar-head{
  /*background-color: #00ccbc !important;*/
  z-index: 3;
  position: sticky;
  top: 0;
}
.navbar-brand{
  font-weight: 700;
  font-size: 26px;
  color: #7d8080 !important;
}
.navbar-brand:hover{
  opacity: .5;
}
/* change with btn because remove nav-link*/
.nav-link{
  font-weight: 500;
  font-size: 19px;
}
.navbar-nav i{
  margin: 0 5%;
}
.nav-item{
  margin: 0 3%;
}
.fa-home, .fa-hamburger{
  color: #01433e;
}
/*.navbar-toggler-icon {*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;*/
/*}*/

.navbar-toggler {
  border-bottom-width: 2px;
  border-color: #018177!important;
}

//responsive
@media screen and (max-width: 991px){
  /* navbar */
  .navbar-collapse{
    margin-top: 3%;
  }
  .nav-item{
    margin: 2% 0;
  }
}
