.intro{
  background-color: #026b62;
  color: #FFFFFF;
  position: relative;
}
.intro .images img{
  max-height: 350px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 5%;
  position: relative;
  z-index: 2;
}
.intro:after{
  content: '';
  width: 100%;
  height: 350px;
  clip-path: polygon(100% 5%, 0% 100%, 100% 100%);
  background: #ffffff;
  /*-webkit-transform: rotate(-6deg);*/
  /*transform: rotate(-6deg);*/
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* discover teams */
.discover-teams .txt{
  width: 49%;
}

//responsive
@media screen and (max-width: 768px){
  .discover-teams .txt{
    width: 100%;
  }
}
