.presentation-restaurant img{
  width: 200px;
  height: 200px;
}
.nav{
  flex-wrap: nowrap;
  width: 100%;
  border: solid 1px #7d8080;
  border-radius: 5px;
  position: sticky;
  top: 70px;
  z-index: 2;
}
.nav-item a{
  color: #01433e!important;
}
.nav-item a:hover{
  color: #7d8080 !important;
}
.orders{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}
.order{
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  padding: 2%;
}
.order .txt{
  padding: 5%;
}
.order img{
  width: 124px;
  height: 124px;
}
