@media screen and (max-width: 991px){
    /* navbar */
    .navbar-collapse{
        margin-top: 3%;
    }
    .nav-item{
        margin: 2% 0;
    }
}

@media screen and (max-width: 768px){
    /* page careers */
    .discover-teams .txt{
        width: 100%;
    }
}
