/* general */
body{
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
}
h1{
    font-weight: 700;
    letter-spacing: 0.05em;
}
a{
    color: #ffffff;
}
a:hover{
    color: #00ccbc;
    text-decoration: none;
}

/* navbar */
.navbar{
    z-index: 1;
}
.navbar-head{
    /*background-color: #00ccbc !important;*/
    z-index: 1;
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
}
.navbar-brand:hover{
    opacity: .5;
}
/* change with btn because remove nav-link*/
.nav-link{
    font-weight: 500;
    font-size: 19px;
}
.navbar-nav i{
    margin: 0 5%;
}
.nav-item{
    margin: 0 3%;
}
.fa-home, .fa-hamburger{
    color: #01433e;
}
/*.navbar-toggler-icon {*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;*/
/*}*/

.navbar-toggler {
    border-bottom-width: 2px;
    border-color: #018177!important;
}

/* footer */
footer{
    background-color: #2e3333;
    color: #ffffff;
}
footer .list-group, footer .list-group-item{
    border: none !important;
    background-color: #434848;
}
footer .list-group-item{
    padding: .10rem 1.25rem !important;
}
.bg-list-grey{
    width: 100%;
    background-color: #434848;
    border: 1px solid #434848;
    border-radius: 5px;
}
footer h5{
    padding: 0 1.25rem;
    font-family: 'IBM Plex Sans Bold', sans-serif;
}
.footer-column{
    display: flex;
    align-items: stretch;
    margin-bottom: 2%;
}
.logos-stores{
    padding: 0 1.25rem;
}
.logo-app-store, .logo-google-play{
    width: 135px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
    background: url("../../assets/icones/app-store-badges-fr.svg") no-repeat;
    background-size: 270px 40px;
}
.logo-app-store{
    background-position: 0 0;
}
.logo-google-play{
    background-position: -135px 0;
}
.socials-links, .copyright{
    width: 50%;
}
footer path{
    fill: currentColor;
}
.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* buttons */
.btn{
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-white{
    background-color: #ffffff;
    border: 1px solid #838686;
    border-radius: 5px;
    color: #838686;
}
.btn-white:hover{
    border-color: #2a2f2f;
}
.btn-white:hover .fa-home, .btn-white:hover .fa-hamburger{
    color: #018177;
}
.btn-blue{
    background-color: #00ccbc;
    border: 1px solid #00ccbc;
    border-radius: 5px;
    color: #ffffff;
}
.btn-blue:hover{
    background-color: #01433e;
    border-color: #01433e;
    color: #ffffff;
}
